<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="/css/layout.css" />
    <%- style %>
  </head>
  <body>
    <header>
      <%- include('_header'); %>
    </header>

    <main id="layout-main">
      <%- body %>
    </main>

    <!-- <footer>
      <%- include('_footer'); %>
    </footer> -->

    <%- script %>

    <script>
      <% if (flash.success && flash.success.length > 0) { %>
        new Noty({
          theme: "mint",
          text: "<%= flash.success %>",
          type: 'success',
          layout: "topRight",
          timeout: 1500,
          closeWith: ['button', 'click'],
        }).show();
      <% } %>

      <% if (flash.error && flash.error.length > 0) { %>
        new Noty({
          theme: "mint",
          text: "<%= flash.error %>",
          type: 'error',
          layout: "topRight",
          timeout: 1500,
          closeWith: ['button', 'click'],
        }).show();
      <% } %>
    </script>
  </body>
</html>
